# Capstone - Final Assignment

###### By Aine Webster

### I. Introduction to Business Problem

________________________________________

In this report, I will be a jewellery shop in London looking to expand to another major city in the UK. I will analyse a potential four major cities for the move:

1) Birmingham

2) Glasgow

3) Liverpool

4) Bristol

These four cities have been chosen because of firstly population size (1) - these are the four most populated cities after London in descending order. The higher the population the higher the potential demand.

In [12]:
PopulationSummary=tablefinal[tablefinal.Metric=='Population']
PopulationSummary

0      Metric    CityName Value
1  Population      London  8.9m
2  Population  Birmingham  1.1m
3  Population     Glasgow  0.6m
4  Population   Liverpool  0.6m
5  Population     Bristol  0.6m

Secondly, these four cities also have the highest nominal GDP (2) after London. The higher the GDP the higher the potential spend.

In [13]:
GDPSummary=tablefinal[tablefinal.Metric=='GDP']
GDPSummary

0  Metric    CityName    Value
6     GDP      London  875.5bn
7     GDP  Birmingham   81.8bn
8     GDP     Glasgow   66.4bn
9     GDP   Liverpool   47.8bn
10    GDP     Bristol   51.5bn

Through the use of Foresquare API data, I will mainly be looking at the total number of retail stores in each of the locations, relative to the number of jewellery shows in the area. I will find which major city has the highest disparity between retail stores to jewellery stores ratio, and base my decision on where I should locate my jewellery shop on this. The idea here is that there is the largest need for jewellery stores in the area with the highest disparity.

________________________________________

## III. References

______________________________

References:

1) http://www.citypopulation.de/UK-Cities.html

2) https://en.wikipedia.org/wiki/List_of_cities_by_GDP